*{
    margin: 0;
    padding: 0;
 }
 
 body {
    font-size: 100%;
    font-family: sans-serif;
background-color: white;
 }
 div, section, header, span, ul, li, a {
    box-sizing: border-box;
 }

 header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
    align-items: center;
    background: white;
    position: fixed;
    z-index: 999;
 }

 #menu li{
   list-style: none;
   display: inline-block;
   margin: 1rem;
 }
 #menu li a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 3px;
    text-shadow: 3px 3px 5px white;
 }



 #logo {
    max-height: 8rem;
 }

 section {
    width: 100%;
    
 }
 
 #missao {
   background-color: transparent;
   padding: 6rem 0 0 0;
   height: auto;
   color: black;
 }

 #inicio img{
   object-fit: cover;
   width: 100%;
   aspect-ratio: 16/9;
 }

 #sobrenos {
   background-color: trans;
   color: #333;
 }

#contactos{
 background-color: transparent;
 color: black;
}

#contactus{
   display: flex;
   margin: 0 auto;
   justify-content: center;
  }

#servicos{
   background-color: transparent;
   color: black;
}

#cards {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.card_servico{
   background-color: white;
   color: #000;
   margin: 1.1em 1em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 5px;
   width: 30%;
   min-width: 240px;
   display: inline-block;
}

.card_contact{
   background-color: white;
   color: #000;
   margin: 1.1em 1em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 5px;
   width: fit-content;
   min-width: 240px;
   display: flex;
}


.card_container {
   padding: 1em 1.2em;
}

.card_servico img {
   border-radius: 5px 5px 0px 0px;
   object-fit: cover;
   width: 100%;
   aspect-ratio: 16/9;
}

.card_contact img {
   border-radius: 5px 5px 0px 0px;
   
   object-fit: cover;
   width: 250px;
   aspect-ratio: 16/9;
}

.card_contact:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   scale: 1.02;
   rotate: 2deg;

}

.card_servico:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   scale: 1.02;
   rotate: 2deg;

}

h1{
   text-align: center;
   padding: 2rem;
}

html{
   scroll-behavior: smooth;
}

#footer {
   display: flex;
   justify-content: space-between;
   height: 100%;
   padding: 25px;
   background-color: #ff0000;
   color: #ffff;
   text-align: right;
}

#sobrenos {
   text-align: center;
}

#missao {
   text-align: center;
}

#mission_container {
   background-color: white;
}